@use '../../common/mixins.scss' as *;

.expand-transition {
  @include transitionDefault();
}

.expand-x-transition {
  @include transitionDefault();
}

.collapse-transition {
  transition:
    0.2s height ease-in-out,
    0.2s padding-top ease-in-out,
    0.2s padding-bottom ease-in-out;
}
