@use '../../common/animation.scss' as *;

/* ======================================
   modal fade start
   ====================================== */
.modal-fade-enter-active {
  transition: opacity 0.3s ease;
}
.modal-fade-leave-active {
  transition: opacity 0.2s ease;
}
.modal-fade-enter-from {
  opacity: 0;
}
.modal-fade-leave-to {
  opacity: 0;
}

/* PaymentModal 动画 */
.modal-fade-enter-active .payment-pop__header {
  animation: aniFadeIn 0.3s ease;
}
.modal-fade-enter-active .dialog-payment {
  animation: aniSlideUp 0.3s ease;
}
.modal-fade-leave-active .dialog-payment {
  animation: aniSlideDown 0.2s ease;
}

/* EmailLoginModal 动画 */
.modal-fade-enter-active .eloginmodal-content {
  transition: transform 0.3s ease;
}
.modal-fade-leave-active .eloginmodal-content {
  transition: transform 0.2s ease;
}
.modal-fade-enter-from .eloginmodal-content {
  transform: scale(0.95);
}
.modal-fade-leave-to .eloginmodal-content {
  transform: scale(0.95);
}

/* ======================================
   modal fade end
   ====================================== */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* fade-slide */
.fade-slide-leave-active,
.fade-slide-enter-active {
  transition: all 0.3s;
}

.fade-slide-enter-from {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-slide-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

// ///////////////////////////////////////////////
// Fade Bottom
// ///////////////////////////////////////////////

// Speed: 1x
.fade-bottom-enter-active,
.fade-bottom-leave-active {
  transition:
    opacity 0.25s,
    transform 0.3s;
}

.fade-bottom-enter-from {
  opacity: 0;
  transform: translateY(-10%);
}

.fade-bottom-leave-to {
  opacity: 0;
  transform: translateY(10%);
}

// fade-scale
.fade-scale-leave-active,
.fade-scale-enter-active {
  transition: all 0.28s;
}

.fade-scale-enter-from {
  opacity: 0;
  transform: scale(1.2);
}

.fade-scale-leave-to {
  opacity: 0;
  transform: scale(0.8);
}

// ///////////////////////////////////////////////
// Fade Top
// ///////////////////////////////////////////////

// Speed: 1x
.fade-top-enter-active,
.fade-top-leave-active {
  transition:
    opacity 0.2s,
    transform 0.25s;
}

.fade-top-enter-from {
  opacity: 0;
  transform: translateY(8%);
}

.fade-top-leave-to {
  opacity: 0;
  transform: translateY(-8%);
}
