@use '../common/mixins.scss' as *;

.article-first-para {
  line-height: 1.55556;
  font-size: 18px;
  @include pc() {
    margin: 0 auto;
    max-width: var(--article-content-width, 840px);
  };
}
.deep-article {
  box-sizing: border-box;
  padding: 40px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.8571;
  @include pc() {
    margin: 0 auto;
    max-width: var(--article-content-width, 840px);
  };
  a {
    color: #9C47F1;
    font-weight: 700;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
    &:hover {
      color: #b366f5;
    }
  }
  h1 {
    box-sizing: border-box;
    padding: 5px 0 34px;
    text-align: center;
    line-height: 0.875;
    font-size: 32px;
    font-weight: 700;
  }
  h2 {
    box-sizing: border-box;
    padding: 60px 0 20px;
    color: #9C47F1;
    line-height: 1.3;
    font-size: 20px;
    font-weight: 700;
  }
  h3 {
    padding-top: 20px;
    line-height: 1.625;
    font-size: 16px;
    font-weight: 700;
  }
  ol {
    list-style: none;
    li {
      list-style: none;
      padding-left: 20px;
      position: relative;
      &::before {
        content: '';
        display: block;
        box-sizing: border-box;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #ffffff;
        border: 1px solid #ffffff;
        position: absolute;
        top: 50%;
        left: 9px;
        transform: translateY(-50%);
      }
    }
  }
  ul {
    list-style: none;
    li {
      list-style: none;
    }
  }
  strong {
    font-weight: 600;
  }
  em {
    font-style: italic;
  }
}
