.do-tag {
  box-sizing: border-box;
  padding: 10px 20px;
  border: 2px solid #2f3545;
  border-radius: 8px;
  background-color: #121621;
  white-space: nowrap;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
