/* 公用 hover 类 */
.hover-header-item {
  transition: background-color 0.2s;
}

.hover-header-item:hover {
  background-color: var(--hover-bg-color) !important;
}

/* 确保按钮也能应用 hover 效果 */
button.hover-header-item:hover,
a.hover-header-item:hover {
  background-color: var(--hover-bg-color) !important;
}

.do-hidden-trigger {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
}

.do-hidden-anchor {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.do-force-hidden {
  display: none !important;
}

.bg-pink {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  > img {
    box-sizing: border-box;
    width: auto;
    height: 100%;
    max-width: unset;
    object-fit: cover;
  }
}

.scroll-page-card {
  box-sizing: border-box;
  border-radius: 24px 24px 0 0;
  background-color: var(--home-bg);
  box-shadow: rgba(0, 0, 0, 0.8) 6px -12px 72px 2px;
  will-change: transform, border-radius, box-shadow; /* 提示浏览器优化这些属性的变化 */
  transition: transform 0.9s ease;
  &.sticking {
    border-radius: 0;
    box-shadow: none;
  }
}

.do-tooltips__content {
  box-sizing: border-box;
  padding: 4px 6px;
  border-radius: 4px;
  background-color: #2F3545;
  max-width: 336px;
  height: auto;
  .do-tooltips__text {
    color: #99a4ba;
    font-size: 10px;
    white-space: pre-wrap;
    text-overflow: unset;
  }
}
