/**
 * Print Stylesheet
 */

@media print {
  @page {
    margin: 1cm;
  }

  body {
    background-color: var(--base-white, #ffffff);
    color: var(--base-black, #000000);
  }

  a {
    page-break-inside: avoid;
  }

  blockquote {
    page-break-inside: avoid;
  }

  table,
  pre {
    page-break-inside: avoid;
  }

  ul,
  ol,
  dl {
    page-break-before: avoid;
  }
}
