@use '../common/mixins.scss' as *;

.primary-badge {
  box-sizing: border-box;
  padding: 10px 29px;
  border-radius: 16px;
  box-shadow: 0 0 10px 0 rgba(222, 81, 245, 0.25);
  background-image: linear-gradient(97deg, #9C47F1 20.73%, #D752EA 92.79%);
  text-align: center;
  line-height: 1.15;
  font-size: 20px;
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
}

.page-view-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.page-view-title {
  box-sizing: border-box;
  padding: 0 0 20px;
  color: #ffffff;
  text-align: center;
  font-family: var(--font-family-poppins), sans-serif;
  line-height: 1.5;
  font-size: 32px;
  font-weight: 600;
}

.page-view-tips {
  color: #ffffff;
  line-height: 1.1875;
  font-size: 16px;
  font-weight: 700;
}

.second-large-title {
  color: #ffffff;
  font-family: var(--font-family-poppins), sans-serif;
  text-align: center;
  line-height: 1.375;
  font-style: normal;
  font-weight: 600;
  font-size: 80px;
  @include medium-pc() {
    font-size: 60px;
    line-height: 1.41667;
  }
  @include air-pc() {
    font-size: 54px;
    line-height: 1.38889;
  }
}

.third-desc {
  margin-top: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 1.5;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
}

.second-title {
  color: #ffffff;
  font-family: var(--font-family-poppins), sans-serif;
  text-align: left;
  line-height: 1.5;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  .sec-title__center {
    text-align: center;
  }
}

.primary-sec-title {
  color: var(--primary-purple, #9c47f1);
}

.second-desc {
  color: var(--sec-txt, #bfbfc2);
  text-align: left;
  line-height: 2;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  @include mobile() {
    font-size: 1.1rem;
  }
}

.second-tips {
  color: var(--sec-txt, #bfbfc2);
  text-align: center;
  line-height: 1.475;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
}

.normal-page-title {
  color: #ffffff;
  font-family: var(--font-family-poppins), sans-serif;
  text-align: left;
  line-height: 1.5;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  .sec-title__center {
    text-align: center;
  }
}

.normal-page-tips {
  box-sizing: border-box;
  margin-top: 20px;
  color: #626977;
  text-align: center;
  line-height: 1.625;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  @include mobile() {
    font-size: 1.1rem;
  }
}
